@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.banner {
    background: rgb(229, 140, 138);
    background: linear-gradient(
        90deg,
        rgba(229, 140, 138, 1) 31%,
        rgba(238, 192, 198, 1) 100%
    );
}

.glass {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}
